<div class="workflow-view">
  <div class="row">
    <div class="col-xs-6">
      <h1>Workflow</h1>
      <div>
        <ol id="tree-root">
          <li ng-repeat="workflow in vm.report" ng-include="'workflow_render.html'"></li>
        </ol>
      </div>
      <pre ng-bind="vm.report|json"></pre>
    </div>
    <div class="col-xs-6">
      <h1>Abnormal</h1>
      <ul>
        <li ng-repeat="execution in vm.abnormal">
          {{ execution.id }} | {{ execution.parentType }}
        </li>
      </ul>
      <pre ng-bind="vm.abnormal|json"></pre>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h2>Workflow</h2>

      <pre ng-bind="vm.workflow|json"></pre>
    </div>
    <div class="col-xs-6">
      <h2>Executions</h2>

      <pre ng-bind="vm.executions|json"></pre>
    </div>
  </div>

  <!-- *** WORKFLOW TREE TEMPLATES *** -->

  <!-- workflow -->
  <script type="text/ng-template" id="workflow_render.html">
    <div >
      Workflow {{ workflow.id }}: {{workflow.name}}
    </div>
    <ol>
      <li ng-repeat="task in workflow.tasks" ui-tree-node ng-include="'workflow_task_render.html'">
      </li>
    </ol>
  </script>

  <!-- workflow task -->
  <script type="text/ng-template" id="workflow_task_render.html">
    <div>
      Task {{ task.id }}: {{ task.name }} <span ng-bind="task.parallelByInfo"></span>
    </div>
    <ol>
      <li ng-repeat="method in task.methods" ui-tree-node ng-include="'workflow_method_render.html'">
      </li>
    </ol>
    <ol ng-if="task.tasks.length > 0">
      <li ng-repeat="task in task.tasks" ui-tree-node ng-include="'workflow_task_render.html'">
      </li>
    </ol>
  </script>

  <!-- workflow method -->
  <script type="text/ng-template" id="workflow_method_render.html">
    <div>
      Method {{ method.id }}: {{ method.service }} {{ method.name }}
    </div>
    <ol>
      <li ng-repeat="task in method.tasks" ng-include="'workflow_task_render.html'">

      </li>
    </ol>
  </script>
</div>

