<div class="workflow-view">
  <div class="row">
    <div class="col-xs-12">
      <execution-timeline executions="vm.executions" workflow="vm.workflow" params="{ color: '#00f' }"></execution-timeline>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
     <report-tree entity="vm.workflow" params="{ indent: 0 }"></report-tree>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3>Workflow</h3>
      <json-formatter json="vm.workflow" open="2"></json-formatter>
    </div>
    <div class="col-xs-6">
      <h3>Executions</h3>
      <json-formatter json="vm.executions" open="2"></json-formatter>
    </div>
  </div>
</div>

