<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="main">
         Ptero
      </a>
    </div>

    <div class="nav-buttons pull-right">
      <button class="button button-default" ng-click="vm.viewWorkflow('previous')"><i class="glyphicon glyphicon-chevron-left"></i></button>
      <button class="button button-default" ng-click="vm.viewWorkflow('next')"><i class="glyphicon glyphicon-chevron-right"></i></button>
    </div>
  </div>
</nav>
