<div class="executionInfo">
  <table>
    <tbody>
      <tr>
        <td class="exec-label">
          Started:
        </td>
        <td class="exec-value">
          <span am-time-ago="vm.started">time ago</span>
        </td>
        <td class="exec-label">
          Duration:
        </td>
        <td class="exec-value">
          <span ng-bind="vm.duration | amDurationFormat: 'milliseconds'">duration</span>
        </td>
        <td class="exec-status">
          <div class="status-badge" ng-class="vm.status">
            {{vm.status}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
