<div class="taskReport">
  <ol>
    <li ng-repeat="task in vm.taskReports">
      <div>
        TASK {{ task.id }}: {{ task.name }} {{ task.parallelByInfo }}
      </div>
      <method-report methods="task.methods" color="vm.color"></method-report>
      <task-report tasks="vm.childTasks" color="vm.color" parallel-by="1"></task-report>
      <!--<pre ng-bind="task|json"></pre>-->
    </li>
  </ol>
  <!--<ol>-->
  <!--<li ng-repeat="method in task.methods" ng-include="'workflow_method_render.html'"></li>-->
  <!--</ol>-->
  <!--<ol ng-if="task.tasks.length > 0">-->
  <!--<li ng-repeat="task in task.tasks" ng-include="'workflow_task_render.html'"></li>-->
  <!--</ol>-->
</div>
