<div class="workflowReport">
  <ol id="tree-root">
    <li ng-repeat="workflow in vm.report">
      {{workflow.name}}
      <ol>
        <li ng-repeat="task in workflow.tasks">
          <task-report task="task"></task-report>
        </li>
      </ol>
    </li>
  </ol>
  <div class="row">
    <div class="col-xs-6">
      <h2>Report</h2>
      <json-formatter json="vm.report" open="2"></json-formatter>
    </div>
    <div class="col-xs-6">
      <h2>Workflow</h2>
      <json-formatter json="vm.workflow" open="2"></json-formatter>
    </div>
  </div>
</div>
