<div class="workflowReport">
  <ol id="tree-root">
    <li ng-repeat="workflow in vm.report">
      WORKFLOW {{ workflow.id }}: {{workflow.name}}
      <task-report tasks="workflow.tasks" color="0" parallel-by="0"></task-report>
    </li>
  </ol>
  <div class="row">
    <div class="col-xs-6">
      <h2>Report</h2>
      <json-formatter json="vm.report" open="3"></json-formatter>
    </div>
    <div class="col-xs-6">
      <h2>Workflow</h2>
      <json-formatter json="vm.workflow" open="2"></json-formatter>
    </div>
  </div>
</div>
